{% extends "base.html" %}
{% block style %}
  <style>
    .main-card p { font-size: 14px; color: #6c757d; margin-bottom: 25px; line-height: 1.5; }
  </style>
{% endblock style %}
{% block content %}
<div class="main-card">
  <div class="user-icon">
    <i class="fa-solid fa-lock-open"></i>
  </div>

  <h3>Set New Password</h3>
  <p>Your new password must be different from previously used passwords.</p>

  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.new_password1}}
    </div>

    <div class="form-group">
      {{ form.new_password2}}
    </div>

    <button type="submit" class="btn-submit">Update Password</button>
  </form>
</div>

{% endblock %}