{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

{% if step == 1 %}
<div class="main-card">

  <div class="user-icon">
    <i class="fa-solid fa-user-plus"></i>
  </div>

  <h3>Create an Account</h3>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="step" value="{{ step }}">

    {% if form.non_field_errors %}
      <div class="form-error">
        {% for error in form.non_field_errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      {{ form.email }}
    </div>

    <button type="submit" class="btn-submit">Sign Up</button>

    <div class="footer-links">
      Already have an account? <a href="{% url 'login' %}">Log In</a>
    </div>
  </form>
</div>
{% elif step == 2 %}

<div class="main-card">
  <div class="user-icon">
    <i class="fa-solid fa-shield-halved"></i>
  </div>

  <h3>Enter Verification Code</h3>
  <p>We've sent a 6-digit code to your email address. Enter the code below to continue.</p>

  <form method="POST">
    {% csrf_token %}

    {% if form.otp_token.errors %}
    <div class="form-error">
      {% for error in form.otp_token.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}

    <input type="hidden" name="step" value="{{ step }}">
    <div class="form-group">
      {{ form.otp_token}}
    </div>

    <button type="submit" class="btn-submit">Verify Code</button>

    <div class="footer-links">
      Didn't receive the code? <a href="#">Resend Code</a>
    </div>
  </form>
</div>

{% elif step == 3 %}

<div class="main-card">
  <div class="user-icon">
    <i class="fa-solid fa-lock-open"></i>
  </div>

  <h3>Set Password</h3>

  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="step" value="{{ step }}">

    {% if form.password.errors %}
    <div class="form-error">
      {% for error in form.password.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
      {{form.first_name }}
    </div>

    <div class="form-group">
      {{form.last_name }}
    </div>

    <div class="form-group">
      {{form.password }}
    </div>

    <div class="form-group">
      {{ form.password_confirmation }}
    </div>

    <div class="password-rules">
      <p>The password must:</p>
      <ul>
        <li id="length" class="invalid"><i class="fa-solid fa-circle-xmark"></i>contain at least 8 characteres</li>
        <li id="uppercase" class="invalid"><i class="fa-solid fa-circle-xmark"></i>contain at least a uppercase letter</li>
        <li id="number" class="invalid"><i class="fa-solid fa-circle-xmark"></i>contain at least a number</li>
        <li id="special" class="invalid"><i class="fa-solid fa-circle-xmark"></i>contain at least a special character
          (!@#$...)</li>
          <li id="theSame" class="invalid"><i class="fa-solid fa-circle-xmark"></i>be the same</li>
      </ul>
    </div>

    <button id="submitBtn" type="submit" class="btn-submit" disabled>Confirm</button>
  </form>
</div>

{% endif %}

{% endblock %}